extends layout

block content
  div.container
    .row
      .col-xs-12
        a(href='https://www.facebook.com/events/818863631494981/')
          img(style='margin-top:20px;width:100%',src='/images/poster.jpg')
    .row
      .col-xs-12(style='margin-top:20px;')
        a(href='https://www.facebook.com/events/818863631494981/')
          .col-xs-4(style='height:150px;border:3px solid #DAA520;background-color:#3b5998;text-align:center')
            h1(style='color:white;line-height:100px;font-weight:bold') facebook page
        a(href='/signup')
          .col-xs-4(style='height:150px;border:3px solid #DAA520;text-align:center')
            h1(style='color:white;line-height:100px;font-weight:bold') Sign Up
        a(href='/vote')
          .col-xs-4(style='height:150px;border:3px solid #DAA520;text-align:center')
            h1(style='color:white;line-height:100px;font-weight:bold') Vote Now