extends layout

block content
  div.container
    .row
      .col-xs-12
        h2(style='color:white') Thank you, your vote has been cast.
        a(href='/vote')
          h3(style='color:#DAA520') return to vote page