extends layout

block content
  div.container
    .row
        //each award in awards
        //    include ./votebox.jade
        h1(style='color:white') Voting will begin soon! 
        h1(style='color:white') Keep an eye out on our Facebook page for announcements!
